[user]
  name = Adam Leff
  email = adamleff@gmail.com

[core]
  excludesfile = ~/.config/git/ignore
  editor = vim

[init]
  defaultBranch = main

[color]
  ui = auto

[alias]
  st = status
  co = checkout
  lg = log --oneline --graph --decorate
